/**
 * GLobal Color Variable
 */

$color-general: (
  blue: #1988df,
  dark-1: #1a1a1a,
  dark-2: #808080,
  dark-3: #ccc,
  dark-4: #eee,
  dark-5: #f0f3f5,
  dark-blue: #0051a0,
  green: #1cc11c,
  orange: #ff8333,
  light-orange: #fff7f1,
  red: #ec1e1e,
  white: #fff,
  yellow: #fdc02f,
  border-input: #dadada
);
