/**
 * Shadow Variable
 */
$shadow-general: (
  preset-1: 0 10px 20px rgba(128, 128, 128, 0.1),
  preset-2: 0 20px 40px rgba(128, 128, 128, 0.15),
  preset-3: 0 15px 30px rgba(128, 128, 128, 0.25),
  preset-4: 0 30px 60px rgba(26, 26, 26, 0.25)
);
