.t-section-item {
  background-blend-mode: difference !important;
  background-image: linear-gradient(var(--grid) 1px, transparent 1px),
    linear-gradient(90deg, var(--grid) 1px, transparent 1px),
    linear-gradient(var(--grid) 1px, transparent 1px),
    linear-gradient(90deg, var(--grid) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  display: block;
  height: 100vh;
  overflow-y: auto;
  width: 100%;
}

.t-section-item__content {
  padding-top: 35px;
  width: 100%;
}

.t-section-item--with-markdown .t-section-item__content {
  box-sizing: border-box;
  padding-left: 345px;
  width: calc(100% - 725px);
}

.t-section-item__markdown {
  background-color: #fff;
  border-left: 1px solid var(--border);
  box-sizing: border-box;
  height: 100%;
  overflow-y: auto;
  padding: 25px 50px;
  position: fixed;
  right: 0;
  top: 0px;
  width: 700px;
}

.t-section-item__markdown hr {
  border: 0;
  border-bottom: 1px dashed var(--border);
}

.t-section-item__markdown img {
  background-color: var(--code);
  border: 0px;
  border-radius: 10px;
  overflow: hidden;
  padding: 5px;
  width: 100%;
}

.t-section-item__markdown h1,
.t-section-item__markdown h2,
.t-section-item__markdown h3,
.t-section-item__markdown h4,
.t-section-item__markdown h5,
.t-section-item__markdown h6 {
  border-bottom: 1px dashed var(--border);
  color: var(--title);
  padding: 5px 0;
}

.t-section-item__markdown b,
.t-section-item__markdown strong,
.t-section-item__markdown code {
  color: var(--title);
}

.t-section-item__markdown blockquote {
  margin: 0;
  padding: 0px 30px;
  position: relative;
}

.t-section-item__markdown blockquote::before {
  background-color: var(--border);
  border-radius: 5px;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 5px;
}

.t-section-item__markdown,
.t-section-item__markdown p,
.t-section-item__markdown span,
.t-section-item__markdown li {
  color: var(--text);
}

.t-section-item__markdown ul {
  margin: 0;
  padding-left: 20px;
}

.t-section-item__markdown a {
  color: var(--blue);
  font-weight: 600;
  text-decoration: none;
}
