.o-sidebar {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  box-shadow: 0 0px 16px rgb(0 0 0 / 8%);
  left: 20px;
  position: fixed;
  top: 160px;
  width: 300px;
}

.o-sidebar h6,
.o-sidebar p {
  margin: 0;
  padding: 0 15px;
}

.o-sidebar h6 {
  color: var(--title);
  font-size: 18px;
  font-weight: 600;
  margin-top: 15px;
}

.o-sidebar p {
  color: var(--text);
  font-size: 14px;
  margin-bottom: 15px;
}

.o-sidebar__menu {
  display: grid;
  grid-template-columns: auto;
}

.o-sidebar__item {
  border-bottom: 1px dashed var(--border);
  color: var(--text);
  font-size: 14px;
  font-weight: 500;
  padding: 10px;
  padding: 10px 15px 10px 60px;
  position: relative;
  text-decoration: none;
  transition: all 0.3s;
}

.o-sidebar__item span {
  border: 1px solid var(--border);
  border-radius: 50%;
  font-size: 18px;
  height: 25px;
  left: 15px;
  line-height: 25px;
  opacity: 0.5;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s;
  width: 25px;
}

.o-sidebar__item:last-of-type {
  border: 0;
}

.o-sidebar__item:hover,
.o-sidebar__item--active {
  color: var(--blue);
}

.o-sidebar__item:hover span,
.o-sidebar__item--active span {
  background-color: var(--blue);
  border: 1px solid var(--blue);
  color: white;
  opacity: 1;
}
