.custom-component {
  align-items: center;
  background-color: var(--blue);
  border: 30px solid rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  color: #fff;
  display: flex;
  font-weight: 500;
  height: 300px;
  justify-content: center;
  letter-spacing: 0.5px;
  text-align: center;
  top: 0;
  width: 300px;
}
